#logo{
    background-color: #04156b;
    height: 17vh;
}
.nyshex{
    margin-left: 3.9vh;
    padding-top: 2vh;
}
.dailytxt{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-left: 3.9vh;
    margin-top: -10px;
}
.greet{
    margin-top: 4vh;;
}
.normtext.nolink{
    margin-left: 3.9vh;
}
.normtext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
.anchor{
    color: rgba(7, 55, 167, 0.88);
    font-weight: 400;
}
hr{
    width: 90%;
    opacity: 0.2;
    margin-left: auto;
    margin-right: auto;
}
.redbutton{
    border-radius: 20px;
    height: 23px;
    border: none;
    color: rgb(246, 66, 66);
    background-color: rgb(244, 222, 222);
}
.third{
    margin-top: 4vh;
}
ul{
    margin-left: 2vh;
}
.straight > li{
    float: left;
    margin: 0 20px;
}
.straight > p{
    float: left;
    margin: 0 20px;
}